/** ==== MODULAR SCALE ==== */
:root {
	--ratio: 1.3;
	--s-5: calc(var(--s-4) / var(--ratio));
	--s-4: calc(var(--s-3) / var(--ratio));
	--s-3: calc(var(--s-2) / var(--ratio));
	--s-2: calc(var(--s-1) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: 1rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));

	/** ==== VARIABLES ==== */

	--color-red: #bb1450;
	--text-dark: #1c2334;
	--text-light: #f8f8ff;
	--text-gray: #909090;
	--background-dark: #000;
	--background-light: #fff;
	--color-shadow: rgba(23, 11, 41, 0.12);
	--border-1: 1px var(--background-dark);
	--border-2: 2px var(--background-dark);
	--border-3: 3px var(--background-dark);
	--margin-top-1: var(--s0);
	--margin-top-2: var(--s1);
	--margin-top-3: var(--s2);
	--box-shadow: 0 2px 10px var(--color-shadow);
}

/** ==== RESET ====*/
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

a {
	color: var(--text-dark);
	text-decoration-color: var(--color-red);
	text-underline-offset: 1px;
	text-decoration: none;
	transition: all 0.3s ease;
}

a:hover,
.navlink-active {
	text-decoration: underline;
	color: var(--color-red);
	text-decoration-color: var(--text-dark);
	text-underline-offset: 2px;
}
/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
/** ==== RESET UP ====*/

body {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
		helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial,
		sans-serif;
	color: var(--text-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	max-width: 35ch;
	font-family: Georgia, 'Times New Roman', Times, serif;

	line-height: 1.1;
	font-weight: 900;
}

h1 {
	font-size: var(--s4);
}
h2 {
	font-size: var(--s3);
}
h3 {
	font-size: var(--s2);
}
h4 {
	font-size: var(--s1);
}
h5 {
	font-size: var(--s0);
}
h6 {
	font-size: var(--s0);
}

:focus {
	outline: 1px dashed var(--color-red);
	outline-offset: 0.25rem;
}

input,
select {
	box-shadow: 0 2px 10px var(--color-shadow);
	padding: var(--input-padding, 0.6rem);
	border: 2px dashed;
	min-inline-size: 20rem;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.select::after {
	content: '';
	background-image: url('../css/img/chevron-down.svg');
	right: 15px;
	top: 45%;
	transform: translateY(-50%);
	height: 15px;
	width: 15px;
	position: absolute;
	pointer-events: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 2px dashed var(--color-red);
	-webkit-text-fill-color: inherit;
	-webkit-box-shadow: 0 0 0px 1000px var(--background-light) inset;
	/* transition: background-color 5000s ease-in-out 0s; */
}

label {
	color: var(--color-red);
	font-size: 0.9rem;
}

input[type='checkbox'] {
	position: relative;
	cursor: pointer;
	min-inline-size: auto;
}

input[type='checkbox']:before {
	content: '';
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	top: -1px;
	left: -1px;
	border: 2px solid #555555;
	border-radius: 3px;
	background-color: white;
}
input[type='checkbox']:checked:after {
	content: '';
	display: block;
	width: 5px;
	height: 10px;
	border: solid black;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 1px;
	left: 5px;
}

input[type='checkbox']:focus {
	border: none;
}

/** ==== BORDER TITLE ==== */

.border-title--wrapper {
	position: relative;
}

.border-title {
	position: absolute;
	--border-title--top: -8px;
	top: var(--border-title--top);
	right: 15px;
	background-color: var(--background-light);
	padding-inline: 0.5rem;
	transition: all 0.2s ease;
}

input:focus + .border-title,
select:focus + .border-title {
	font-size: 0.7rem;
}

/** ====== UTILITIES ====== */
.text-light {
	font-weight: 100;
}

.text-bold {
	font-weight: 700;
}

.text-italic {
	font-style: italic;
}

.color-red {
	color: var(--color-red) !important;
}

.background-dark {
	background-color: var(--background-dark);
}

.background-dark p,
.background-dark a,
.background-dark h1,
.background-dark h2,
.background-dark h3,
.background-dark h4,
.background-dark h5 {
	color: var(--text-light);
}

.background-dark a:hover {
	text-decoration: underline;
	color: var(--color-red);
	text-decoration-color: var(--text-dark);
	text-underline-offset: 2px;
}

.wrapper {
	width: 70vw;
	width: clamp(16rem, 93vw, 75rem);
	margin-left: auto;
	margin-right: auto;
	padding-left: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
	padding-right: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
	position: relative;
}

.region {
	padding-top: var(--region-padding, clamp(2.67rem, 2.07rem + 3vw, 4.21rem));
	padding-bottom: var(
		--region-padding,
		clamp(2.67rem, 2.07rem + 3vw, 4.21rem)
	);
}

.full-bleed {
	width: 100vw;
	margin-left: calc(50% - 50vw);
}

.flow {
	--flow-space: 1em;
}

.flow > * + * {
	margin-top: var(--flow-space, 1em);
}

.margin-top-1 {
	margin-block-start: var(--s0, 1rem) !important;
}

.margin-top-2 {
	margin-block-start: var(--s2, 2rem) !important;
}

.margin-top-4 {
	margin-block-start: var(--s4, 3rem) !important;
}

.bold {
	font-weight: bold;
}

.flex {
	display: flex;
}

/** ==== VISUALLY HIDDEN ==== */

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

/** ==== DISPLAY NONE ==== */
.display-none {
	display: none !important;
}

/** ==== ALERT COMPONENT ==== */
.input-invalid {
	border: solid indianred !important;
}
/** ==== ANIMATIONS ==== */
@keyframes slide-fade--up {
	0% {
		opacity: 0;
		transform: translateY(2rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes slide-fade--down {
	0% {
		opacity: 0;
		transform: translateY(-2rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.slide-fade--down {
	animation: slide-fade--down 1s;
}
.slide-fade--up {
	animation: slide-fade--down 1s;
}
/** ==== DASH VERTICAL ==== */

.dash-vertical {
	width: 200px;
	height: 2px;
	background-image: linear-gradient(
		90deg,
		#000,
		#000 75%,
		transparent 75%,
		transparent 100%
	);
	background-size: 20px 1px;
	transform: rotate(90deg);
	border: none;
	position: absolute;
	top: 87%;
	left: -115px;
	box-shadow: none;
}

.dash-vertical[data-state='reversed'] {
	background-image: linear-gradient(
		90deg,
		#fff,
		#fff 75%,
		transparent 75%,
		transparent 100%
	);
	top: 5%;
	left: -115px;
}

.dash-vertical[data-state='reversed']::after {
	content: '';
	position: inherit;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background-color: #fff;
	right: 0;
	bottom: -5px;
}

/** ==== ICON ====*/
.icon {
	width: 2em;
	width: 1cap;
	height: 2em;
	height: 1cap;
}

.with-icon {
	display: inline-flex;
	align-items: baseline;
}

.with-icon .icon {
	margin-inline-start: 1rem;
}

/** ==== STACK ==== */
.stack {
	display: flex;
	flex-direction: column;
	justify-content: var(--stack-justify, flex-start);
	align-items: var(--stack-align, flex-start);
}

.stack > * {
	margin-block: 0;
}

.stack > * + * {
	margin-block-start: var(--stack-space, 1.5rem);
}

/* .stack-exception,
.stack-exception + * {
	--stack-space: 5rem;
} */

/** ==== THE SIDEBAR ==== */

.with-sidebar {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s1);
}

.with-sidebar > :first-child {
	flex-grow: 1;
}

.with-sidebar > :last-child {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 20%;
}

/** ==== THE FRAME ==== */
.frame {
	--n: 16;
	--d: 9;
	aspect-ratio: var(--n) / var(--d);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.frame > img,
.frame > video {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
}

/** ==== REPEL ==== **/

.repel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: var(--repel-space, clamp(1.375rem, 1.2rem + 0.89vw, 2rem));
}

/** ==== THE SWITCHER ==== */
.switcher {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s1);
}

.switcher > * {
	flex-grow: 1;
	flex-basis: calc((30rem - 100%) * 999);
}

.switcher > :nth-last-child(n + 5),
.switcher > :nth-last-child(n + 5) ~ * {
	flex-basis: 100%;
}

/** ==== CLUSTER - WRAP ==== **/

.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: var(--wrap-justify, center);
	align-items: var(--wrap-align, center);
	gap: var(--wrap-space, clamp(1.375rem, 1.2rem + 0.89vw, 2rem));
}

/** ==== BOX ==== */
.box {
	padding: var(--s-1);
	border: var(--border-1) solid;
	--color-light: #fff;
	--color-dark: #000;
	color: var(--color-dark);
	background-color: var(--color-light);
}

.box * {
	color: inherit;
}

.box.invert {
	color: var(--color-light);
	background-color: var(--color-dark);
}

.dashed {
	border: dashed;
}

.dashed-2 {
	border: var(--border-2) dashed;
}

.dashed-3 {
	border: var(--border-3) dashed;
}
/** ==== CENTER ==== */

.center {
	box-sizing: content-box;
	margin-inline: auto;
	max-inline-size: var(--measure);
}
.center-inner {
	box-sizing: content-box;
	margin-inline: auto;
	max-inline-size: var(--measure);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: var(--center-text, center);
}

.center-vertical {
	min-block-size: 100vh;
	display: flex;
	justify-content: center;
}

/** ==== GRID ==== */
.grid {
	display: grid;
	grid-gap: var(--grid-gap, 1rem);
}

@supports (width: min(250px, 100%)) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
	}
}

/** ==== COVER ==== */

.cover {
	display: flex;
	flex-direction: column;
	min-block-size: 100vh;
	padding: 1rem;
}

.cover > * {
	margin-block: 1rem;
}

.cover > :first-child:not(h1) {
	margin-block-start: 0;
}

.cover > :last-child:not(h1) {
	margin-block-end: 0;
}

.cover > h1 {
	margin-block: auto;
}

/** ==== BUTTON ==== */
.button {
	display: inline-block;
	padding: var(--s-1, 0.8rem) var(--s2, 2.5rem);
	border: 3px var(--background-dark) dashed;
	color: var(--color-red);
	background-color: inherit;
	cursor: pointer;
	line-height: 1;
	text-align: center;
	text-decoration: none !important;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 0.2s ease;
}

.button:hover {
	border: 3px solid var(--color-red);
	color: var(--text-dark);
}

.button[data-state='reversed'] {
	border-color: var(--color-red);
	color: var(--background-light);
}

.card-button {
	display: inline-block;
	cursor: pointer;
	line-height: 1;
	text-decoration: none !important;
	color: var(--color-red);
	margin-inline-start: auto;
}

.card-button svg {
	transition: transform 0.2s ease;
}

.card-button:hover svg {
	transform: translate(-10px);
}

/** ==== HEADER ==== */

header {
	border-bottom: var(--border-3) dashed;
}
.site-header {
	padding-block: 0.5rem;
	--wrap-justify: flex-start;
	margin-block-end: 5rem;
}

.logo {
	border: var(--border-3) solid;
	border-radius: 50%;
	padding: 0.5rem;
}

/* === LOGIN & REGISTER === */

.signup-alert,
.signup-success {
	color: indianred;
	font-size: var(--s-1);
	font-weight: bold;
}

.signup-success {
	color: green;
}

#register .card-button {
	background: none;
	border: none;
}

#register input[type='checkbox'] {
	margin-inline-end: 10px;
}

/** ==== HERO ==== */

.hero {
	--stack-space: 0.5rem;
}

.hero-cta {
	--stack-space: 4rem;
}

/** ==== DROPDOWN ==== */

.dropdown-toggle {
	position: relative;
	cursor: pointer;
}
.dropdown-menu {
	position: absolute;
	display: none;
	right: 0;
	top: 25px;
}
.dropdown-menu.stack {
	--stack-align: flex-end;
}
.dropdown-toggle:hover .dropdown-menu,
.dropdown-menu:hover,
.dropdown-menu:focus .dropdown-menu {
	display: flex;
}

.dropdown-menu.box {
	border: dashed;
}

.dropdown-toggle .icon {
	margin-inline-end: 0.4rem;
	width: 1em;
	height: 1em;
}

/** ==== ACCORDION ==== */
.accordion {
}

.accordion-toggle {
	position: relative;
	cursor: pointer;
}

.accordion-toggle .icon {
	margin-inline-end: 0.4rem;
	width: 1em;
	height: 1em;
}

.accordion-toggle.accordion-open .icon {
	transform: rotate(180deg) translateY(-3px);
}

.accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-in-out;
}

.accordion-content.accordion-open {
	padding-block-start: 5px;
}

/** ==== OFFER-SECTION ==== */
.offer-section {
	--grid-gap: 4rem;
}

/** ==== CALCULATOR SECTION ==== */
.dash-vertical-leading {
	height: 150px;
	width: 2px;
	border-left: 2px dashed black;
}

.calculator-section .box {
	box-shadow: 0 2px 10px var(--color-shadow);
	padding: var(--input-padding, 0.6rem);
	border: 2px dashed;
	min-inline-size: 20rem;
}

/** ==== FOOD PACKAGES SECTION ==== */
.food-packages--region {
	padding-top: 0;
	--grid-gap: 2rem;
}

.food-packages .border-title {
	--border-title--top: -13px;
	top: -13px;
	color: var(--color-red);
}

.food-packages .border-title--wrapper {
	box-shadow: var(--box-shadow);
}

/** ==== MARKET SECTION ==== */

.market-region {
	--grid-gap: 0;
	--wrap-space: 1rem;
}

.market-region .grid {
	grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
}

.market-region h2 {
	margin-bottom: var(--s1);
}

.market-region a:hover {
	text-decoration: none;
	color: var(--text-light);
}

.market-region .frame {
	--n: 1;
	--d: 1;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	min-height: 100px;
	position: relative;
	padding: 1.5rem;
	backface-visibility: hidden;
	overflow: hidden;
}

.market-region .frame > * {
	z-index: 1;
}

.market-region .frame::before,
.market-region .frame::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.market-region .frame::before {
	background: linear-gradient(
		to top,
		hsl(0 0% 0% / 0.79) 0%,
		hsl(0 0% 0% / 0.787) 7.8%,
		hsl(0 0% 0% / 0.779) 14.4%,
		hsl(0 0% 0% / 0.765) 20.2%,
		hsl(0 0% 0% / 0.744) 25.3%,
		hsl(0 0% 0% / 0.717) 29.9%,
		hsl(0 0% 0% / 0.683) 34.3%,
		hsl(0 0% 0% / 0.641) 38.7%,
		hsl(0 0% 0% / 0.592) 43.3%,
		hsl(0 0% 0% / 0.534) 48.4%,
		hsl(0 0% 0% / 0.468) 54.1%,
		hsl(0 0% 0% / 0.393) 60.6%,
		hsl(0 0% 0% / 0.31) 68.3%,
		hsl(0 0% 0% / 0.216) 77.3%,
		hsl(0 0% 0% / 0.113) 87.7%,
		hsl(0 0% 0% / 0) 100%
	);
	transition: 300ms opacity linear;
}

.market-region .frame::after {
	background: linear-gradient(
		45deg,
		hsl(338 81% 41% / 0.7) 0,
		hsl(5 97% 63% / 0) 100%
	);
	opacity: 0;
	transition: 300ms opacity linear;
}

.market-region .frame img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 0;
	object-fit: cover;
	filter: grayscale(1);
	transition: filter 200ms ease, transform 250ms linear;
}

.market-region .frame h4 {
	transition: 300ms transform ease;
}

.market-region .frame p {
	opacity: 0;
	transition: 300ms opacity linear, 300ms transform ease-in-out;
}

.market-region .frame p,
.market-region .frame h4 {
	transform: translateY(5ex);
}

.market-region .frame:focus {
	outline: 0.5rem solid white;
	outline-offset: -0.5rem;
}

.market-region .frame:hover :is(h4, p),
.market-region .frame:focus :is(h4, p) {
	transform: none;
}

.market-region .frame:hover p,
.market-region .frame:focus p {
	opacity: 1;
	transition-delay: 200ms;
}

.market-region .frame:hover::after,
.market-region .frame:focus::after,
.market-region .frame:hover::before,
.market-region .frame:focus::before {
	opacity: 0.7;
}

.market-region .frame:hover img,
.market-region .frame:focus img {
	filter: grayscale(0);
	transform: scale(1.05) rotate(1deg);
}
.market-region .dropdown-toggle {
	display: none;
	z-index: 999;
}

.market-region .with-icon {
	color: var(--background-light);
}
@media (max-width: 470px) {
	.market-region .dropdown-toggle {
		display: flex;
	}
	.market-region .wrap {
		display: none;
	}
}

/** ==== SINGLE COACH SECTION ==== */
.single-coach--image-side {
	position: relative;
}

.single-coach--region h1 {
	font-size: var(--s2);
}

.single-coach--region .frame {
	--n: 1;
	--d: 1;
	flex-direction: column;
	/* border: solid black; */
	position: relative;
	overflow: visible;
}

.single-coach--region h4,
.single-coach--region h5 {
	border: dashed var(--color-red) 1px;
	display: inline;
	padding: var(--s-3);
}

.single-coach--region .stack {
	--stack-space: 0.2rem;
}
.single-coach--image-side {
	max-inline-size: 25rem;
}
.single-coach--image-side img {
	border: dashed var(--background-dark);
}

.single-coach--content-side .stack,
.single-coach--content-side.stack {
	--stack-space: 1rem;
}

.single-coach--region input,
.single-coach--region select {
	min-inline-size: 15rem;
}
